DATABASE_URL="postgresql://postgres:postgres@localhost:5432/musicdistro"
NODE_ENV="development"
NEXTAUTH_SECRET="weplugmusic-secret-key-32chars-min-needed-for-auth"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_SECRET="dummy_google_client_secret"
GOOGLE_CLIENT_ID="dummy_google_client_id"
SEND_GRID_API_KEY="dummy_sendgrid_key"
PASSWORD_RESET_TEMPLATE_ID="dummy_password_reset"
VERIFY_EMAIL_TEMPLATE_ID="dummy_verify_email"
MUSIC_RELEASE_TEMPLATE_ID="dummy_music_release"
RELEASE_NOTIFICATION_TEMPLATE_ID="dummy_release_notification"
BUCKET_ACCESS_KEY_ID="dummy_bucket_id"
BUCKET_SECRET_ACCESS_KEY="dummy_bucket_secret"
BUCKET_NAME="dummy_bucket_name"
SUPPORT_TICKET_TEMPLATE_ID="dummy_support_ticket"
NEXT_PUBLIC_EXCHANGE_RATE_API_KEY="dummy_rate"
NEXT_PUBLIC_HOME_URL="http://localhost:3000"
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY="dummy_paystack"
NEXT_PUBLIC_BACKEND_URL="http://localhost:3000"
NEXT_PUBLIC_PAYPAL_CLIENT_ID="sb"
SKIP_ENV_VALIDATION=true
